[submodule "LightGBM"]
	path = LightGBM
	url = https://github.com/shiyu1994/LightGBM
	branch = cuda-discretized-nccl3
[submodule "xgboost"]
	path = xgboost
	url = https://github.com/dmlc/xgboost
[submodule "catboost"]
	path = catboost
	url = https://github.com/catboost/catboost
